* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: linear-gradient(to right, rgb(14, 138, 221), rgb(13, 47, 119), rgb(37, 43, 99));
    color: white;
}

form label {
    font-size: 1.8vw;
    font-weight: bold;
}

.btn-primary {
    width: 100%;
    font-size: large;
}

.forecastSquare {
    margin: 10px;
    background-color: rgb(38, 39, 54);
    color: white;
}

h2 {
    font-size: 1.5vw;
    font-weight: bolder;
}

p {
    font-size: 1vw; 
}